<div class="devise-container">
<h2 class="devise-title">Bookersの新規登録</h2>

<h4 class="devise-message">ようこそ、Bookersへ</h4>

<%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="devise-user">
    <dt><%= f.label :"ニックネーム" %></dt>
    <dd>
      <%= f.text_field :name, autofocus: true, class: "name" %>
    </dd>

    <dt><%= f.label :"メールアドレス" %></dt>
    <dd>
      <%= f.email_field :email, autofocus: true, class: "email" %>
    </dd>

    <dt><%= f.label :"パスワード" %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>文字以上)</em>
    </dt>
    <% end %>
    <dd>
      <%= f.password_field :password, autocomplete: "new-password", class: "password" %>
    </dd>

    <dt><%= f.label :"パスワード(確認)" %></dt>
    <dd>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "password_confirm" %>
    </dd>
</div>

  <div class="actions devise-btn">
    <%= f.submit "登録",class: "btn registration-btn" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>