<div class="top-picture">
  <%= image_tag("book.jpg") %>
</div>

<div class="top-container">
  <h3 class="top-title">Bookersとは</h3>
  <p class="top-message">
    Bookersは、<span class="title-border">本の感想や評価</span>をチェックしたり、<span class="title-border">感想やレビュー</span>を
  </p>
  <p class="top-message">
    書いたり、<span class="title-border">読書の管理・記録</span>をすることができます！
  </p>
</div>

<div class="row about-container">
  <div class="col-lg-3">
    <i class="fas fa-book"></i>
    <h5>本棚</h5>
    <p>
      自分のお気に入りの本を<br>
      ウェブ上の本棚に<br>
      登録できます。<br>
      本棚のデザインを<br>
      自分好みに設定できます。
    </p>
  </div>
  <div class="col-lg-3">
    <i class="fas fa-edit"></i>
    <h5>充実した感想・レビュー</h5>
    <p>
      たくさんいる読書家さん達の、<br>
      素敵な感想・レビューを見る<br>
      ことができます！<br>
      とても参考になります。
    </p>
  </div>
  <div class="col-lg-3">
    <i class="far fa-folder"></i>
    <h5>読書管理</h5>
    <p>
      自分の読書状況を設定して、<br>
      本棚登録することができます。<br>
      読書メモ、読書グラフ、読書目標<br>
      機能もあります。
    </p>
  </div>
  <div class="col-lg-3">
    <i class="far fa-clock"></i>
    <h5>タイムライン</h5>
    <p>
      自分やお友達の<br>
      アクティビティを確認できます！
    </p>
  </div>
</div>

<div class="row pickup-container">
  <h3 class="pickup">Bookersピックアップ</h3>
    <% @books.each do |book| %>
    <div class="col-lg-3">
      <div><%= book.user.name %></div>
      <div><%= book.title %></div>
      <div><%= book.body %></div><td>
    </div>
    <% end %>
</div>

<!--ランキング機能-->
<div class="row pickup-container">
  <h3 class="pickup">Bookersランキング</h3>
    <% @ranks.each do |rank| %>
    <div class="col-lg-3">
      <div><%= rank.user.name %></div>
      <div><%= rank.title %></div>
      <div><%= rank.body %></div><td>
    </div>
    <% end %>
</div>

<div class="footer">
  <%= render 'layouts/footer' %>
</div>